.navbar{
    -webkit-box-shadow: 0px 4px 19px -9px rgba(0,0,0,0.73); 
    box-shadow: 0px 4px 19px -9px rgba(0,0,0,0.73);
}
.nav-link{
    transform: scale(1);
    transition: all 0.4s;
}
.nav-link:hover{
    transform: scale(1.1);
    font-weight: 550;
    transform: rotateZ(-5deg)
    
}